<!-- <ng-container [formGroup]="parentForm ? parentForm : null">
    <label [for]="label" class="we-form-label">{{label}}</label>
    <label [for]="label" class="we-form-label" *ngIf="inputRequired" class="we-mandatory-field">&nbsp; *</label>
    <ng-select [readonly]="isDisabled" (change)="selectDropDown($event)" [formControlName]="control ? control : null"
      [clearable]="clearable">
      <ng-option *ngFor="let data of dataArray" [value]="data.value">{{data.name}}
      </ng-option>
    </ng-select>
  </ng-container> -->